TOKEN.txt
callid.txt
analytical_test.py
callid.txt
TOKEN.txt
emptymaps/
Lmaps/
maglines/
vectormaps/
mtest.py
test.py
test2.py
rtest.py
idk.py
untitled0.py
untitled2.py
mtest.py
test-newfunc.py
computing.py
test-newfunc.py
test-newfunc.py
test-newfunc.py
sunxudongdata.csv
Энергии.png
temp.png
HMI20Maps.ipynb
data/
data/
HMI20Maps.ipynb
sunxudongdata.csv
temp.png
Энергии.png
test_area.py
